@use '../util/' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

*:before, *:after {
    position: absolute;
    content: '';
    display: block;
}

body {
    color: var(--main-text);
    background: var(--background);
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

input, button {
    background: none;
    outline: none;
    border: none;
    font-family: var(--font-inter);
    font-size: rem(16);
    color: var(--main-text);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type = 'number'] {
    -moz-appearance: textfield;
}
