@use '../util/' as *;

.currency-add {
    @include flex;
    justify-content: end;
    margin-top: rem(20);

    &__button {
        @include button;

        @include breakpoint-down(small) {
            margin: 0 auto;
        }
    }
    
    .select {
        display: none;
        padding: rem(11) rem(14);
    }

    &.active {
        .select {
            display: block;
        }

        .currency-add__button {
            display: none;
        }
    }
}

