@use '../util/' as *;

.wrapper {
    background: linear-gradient(180deg, var(--wrapper-start) 0%, var(--wrapper-end) 100%);
    backdrop-filter: blur(rem(5));
    border-radius: rem(12);
    padding: rem(9) rem(45) rem(37) rem(45);
    width: 100%;
    @include breakpoint-down(medium) {
        padding: rem(9) rem(20) rem(15) rem(20);
    }
    @include breakpoint-down(small) {
        padding: rem(10);
    }
}